<h1>My Lists</h1>

<div id="list-form" style="display:none;"></div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if !@lists.empty? %>
      <% @lists.each do |list| %>
        <tr>
          <td><%= list.name %></td>
          <td><%= link_to fa_icon('eye'), list, class: 'btn btn-xs btn-default', role: 'button' %>
            <%= link_to fa_icon('pencil'), edit_list_path(list),
        :class => 'btn btn-xs btn-primary' %>
            <%= link_to fa_icon('trash'),
        list, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2">No list available.</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New list', new_list_path, remote: true, :class => 'btn btn-primary' %>

<h1>Followed Lists</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if !@friends_lists.empty? %>
      <% @friends_lists.each do |list| %>
        <tr>
          <td><%= list.name %></td>
          <td><%= link_to fa_icon('eye'), list, class: 'btn btn-xs btn-default', role: 'button' %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2">No list available.</td>
      </tr>
    <% end %>
  </tbody>
</table>
