<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Movies:</strong>
  <% if !@list.movielists.empty? %>
    <ul>
    <% @list.movielists.each do |movielist| %>
      <!-- TODO:  - give possibility to add the movie to another list
      -->
      <li><%= movielist.movie.retrieve!.title %> (<%= movielist.movie.retrieve!.release_date %>) <%= link_to 'Remove', movielist, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %>
    </ul>
  <% else %>
    <p>No movie in this list.</p>
  <% end %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
