<h1><%= @list.name %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if !@list.movielists.empty? %>
      <% @list.movielists.each do |movielist| %>
        <tr>
          <!-- TODO:  - give possibility to add the movie to another list
          -->
          <td><%= movielist.movie.retrieve!.title %></td>
          <td><%= movielist.movie.retrieve!.release_date %></td>
          <td><%= link_to fa_icon('eye'),
                          movielist.movie, :class => 'btn btn-xs btn-default' %>
              <% if @list.user == current_user %>
                <%= link_to fa_icon('trash'),
                            movielist, method: :delete,
                            data: { confirm: 'Are you sure?' },
                            :class => 'btn btn-xs btn-danger' %>
              <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="3">No movie in this list.</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit list', edit_list_path(@list), :class => 'btn btn-primary' %>
<%= link_to 'Back to lists', lists_path, :class => 'btn btn-default' %>
