<%= link_to 'Back', :back, class: 'btn btn-default pull-right', role: 'button' %>

<p>
  <div style="float: left; margin-right: 25px">
    <%= image_tag @poster_url, alt: '' %>
  </div>
  <strong>Title: </strong>
  <%= @movie.title %><br>
  <strong>Released in: </strong>
  <%= @movie.release_date %><br>
  <strong>IMDB: </strong>
  <%= @movie.imdb %><br>
  <strong>Plot: </strong>
  <%= @plot %><br>
  <strong>Actors:</strong>
  <ul>
    <% @movie.actors.each do |actor| %>
      <li><%= actor %></li>
    <% end %>
  </ul>
</p>

<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Add to list <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <% unless current_user_lists.empty? %>
      <% current_user_lists.each do |list| %>
        <li><%= link_to list.name, movielists_path(:list_id => list.id, :movie_id => @movie.id), method: :post %></li>
      <% end %>
    <% else %>
      <li class="disabled"><a href="#">No lists available.</a></li>
      <% if user_signed_in? %>
        <li role="separator" class="divider"></li>
        <li><%= link_to 'Create a new list', lists_path() %></li>
      <% end %>
    <% end %>
  </ul>
</div>


<% if user_signed_in? %>
  <%# Quick hack to reuse the buttons of the movie partial %>
  <%= content_tag :span, class: 'movie-card', data: {id: @movie.id, state: @recommend_state} do %>
    <div class="btn-group">
      <%= link_to fa_icon('thumbs-o-up lg fw'),
                  recommend_movie_path(@movie, thumbs_up: true), remote: true, method: :put,
                  class: 'btn btn-default like-button', role: 'button' %>
      <%= link_to fa_icon('thumbs-o-down lg fw'),
                  recommend_movie_path(@movie, thumbs_up: false), remote: true, method: :put,
                  class: 'btn btn-default dislike-button', role: 'button' %>
    </div>
    <%= link_to fa_icon("#{@star_class} lg fw"),
                bookmark_movie_path(@movie), remote: true, method: :put,
                class: 'btn btn-default bookmark-button', role: 'button' %>
  <% end %>
<% end %>