<p>
  <strong>Title: </strong>
  <%= @movie.title %><br>
  <strong>Released in: </strong>
  <%= @movie.releaseDate %><br>
  <strong>Actors:</strong>
  <ul>
    <% @movie.actors.each do |actor| %>
      <li><%= actor %></li>
    <% end %>
  </ul>
</p>

<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Add to list <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <% @lists.each do |list| %>
      <li><%= link_to list.name, movielists_path(:list_id => list.id, :movie_id => @movie.id), method: :post %></li>
    <% end %>
  </ul>
</div>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
