<p>
  <div style="float: left; margin-right: 25px">
    <%= image_tag @poster_url %>
  </div>
  <strong>Title: </strong>
  <%= @movie.title %><br>
  <strong>Released in: </strong>
  <%= @movie.releaseDate %><br>
  <strong>IMDB</strong>
  <%= @movie.imdb %><br>
  <strong>Plot</strong>
  <%= @plot %><br>
  <strong>Actors:</strong>
  <ul>
    <% @movie.actors.each do |actor| %>
      <li><%= actor %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Add to playlist', lists_path(@movie) %> |
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
